<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.sudosaints.cmavidya">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name=".CMAVidyaApp"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Holo.Light">
		<activity
			android:name="SignInActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
			android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".GuestUserLoginActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"></activity>
		<activity
			android:name=".RegisterActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".DashboardActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".PlannerActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".PlannerItemActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".CalendarViewActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".KeynotesAddNoteActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".KeynotesMainActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".CreateTestActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".ReplanActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".PreTestActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TestQuestionActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".ComingSoonActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".MasterForumListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ForumListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ForumThreadListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ForumSubjectListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ThreadListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".NewThreadActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".PreReportActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TestWiseReportActvity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".IndividualTestAnalysisActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ScoreWiseReportActvity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ScoreAnalysisActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SubjectWiseReportActvity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".SubjectAnalysisActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TopicWiseReportActvity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".TopicAnalysisActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".VideoListActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".VideoViewActivity"
			android:screenOrientation="landscape"/>
		<activity
			android:name="com.artifex.mupdfdemo.MuPDFActivity"
			android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>
		<activity
			android:name="com.artifex.mupdfdemo.PrintDialogActivity"
			android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
			android:label="@string/print"/>

        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait"/>

	</application>

</manifest>
